/* Just css to make sure footer sticks to bottom */
html,
body,
body > #__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

#__next > main {
  flex: 1 0 auto;
}

header,
footer {
  flex-shrink: 0;
}
